%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b Price:
  = @product.price

%p
  %b Catalog:
  = link_to @product.catalog.name, catalog_path(@product.catalog)

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
