!!!
%html
  %head
    %title ProductApi
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="#") ProductApi
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li= link_to "Catalogs", "/catalogs"
            %li= link_to "Products", "/products"

    .container
      - flash.each do |type, message|
        .alert{:class => "alert-#{type}"}
          %button.close{:type => 'button', :class => "close", :data => {:dismiss => 'alert'}} &times;
          = message
      = yield